/* hero section */

#hero {
    background-color: #f7e6df;
    /* background: linear-gradient(110.68deg, #F74B90 0%, #D435BB 118.23%); */
    height: 100vh;
    width: 100%;
    border-radius: 0 0 300px 0;

    background-image: url(../../img/aksesoris/arabesque-left-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.img-hero {
    height: 100%;
    z-index: 1;
    border-radius: 0 0 300px 0;
}

.img-hero-left {
    height: 500px;
    display: none;
}

.hero-tagline h1 {
    color: var(--putih);
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: var(--coklat1);
    font-family: 'Great Vibes', cursive;
}

.hero-tagline p {
    font-size: 16px;
    color: var(--coklat1);
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    /* width: 85%; */
}

.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: var(--coklat1);
    color: var(--primary-color);
    border-radius: 3px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

/* responsivitas */

@media screen and (max-width: 992px) {
    .img-hero {
        display: none;
    }

    .hero-tagline h1 {
        line-height: 62px;
    }

    #hero {
        border-radius: 0;
    }
}

@media screen and (max-width: 576px) {
    .hero-tagline h1 {
        offset: 0;
    }
}

@media screen and (max-width: 350px) {
    
}