/* include css lain */

@import "/css/partial/navbar.css";

:root {
    --primary-color: #F7E6DF;
    --putih: #fff;
    --coklat1: #966443;
    --coklat2: #75492b;
    --hitam: #151515;
    --abu2: #ced4da;
    --h2-color: #5C5341;
    --sub-title-color: #AB7575;

    --h2-size: 50px;
    --sub-title-size: 100px;
}

body {
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Alex Brush', cursive; */
    font-family: 'Lustria', serif;
    /* font-family: 'Poly', serif; */
    background-color: var(--putih);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    z-index: 2;
}

h2 {
    font-size: var(--h2-size);
    color: var(--h2-color);
    font-weight: 700;
    font-family: 'Alex Brush', cursive;
    position: relative;
    white-space: nowrap;
    top: -75px;
}

/* navbar */

.navbar {
    z-index: 999;
    padding: 10px 0;
    background: var(--putih);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.bg-nav {
    transition: all ease-in-out .3s;
    background: var(--putih) !important;
}

/* content part */


.container h2 {
    font-size: var(--h2-size);
    font-weight: 700;
    font-family: 'Alex Brush', cursive;
    position: relative;
    white-space: nowrap;
    top: -75px;
    color: var(--h2-color);
}

.container h2::selection {
    color: var(--putih);
    background: var(--h2-color);
}

.container h2::-moz-selection {
    color: var(--putih);
    background: var(--h2-color);
}

.container .sub-title {
    font-size: var(--sub-title-size);
    white-space: nowrap;
    color: var(--sub-title-color);
    font-family: 'Great Vibes', cursive;
}

.sub-title::-moz-selection {
    color: var(--putih);
    background: var(--sub-title-color);
}

.sub-title::selection {
    color: var(--putih);
    background: var(--sub-title-color);
}

/* MAP */
.iframe-container {
    margin: 0 auto;
    position: relative;
    width: 83%;
    padding-bottom: 30.25%;
    /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container>* {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* konten */
.content {
    padding: 90px 0 40px 0;
    background-color: var(--putih);
    border-radius: 0 0 300px 0;
}

.content .isi {
    padding-top: 40px;
}

.content .isi .sisi-kiri {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-right: 50px;
    color: var(--hitam);
}

.sisi-kiri h3 {
    font-weight: 600;
    font-size: 30px;
}

.sisi-kiri .btn {
    padding: 10px 20px;
    background-color: var(--putih);
    color: var(--coklat1);
    font-weight: 600;
    border: 1px var(--abu2) solid !important;
    transition: .4s all ease-in-out;
}

.sisi-kiri .btn:hover {
    background-color: var(--coklat1);
    border: none;
    color: var(--putih);
    transition: .4s all ease-in-out;
}

.sisi-kiri p {
    width: 100%;
    font-family: 'Lustria', serif;
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    margin: 0;
}

.sisi-kiri p.mrk {
    font-weight: 400;
    padding-left: 10px;
    border-bottom: none;
}

.sisi-kiri p.mrk span {
    position: absolute;
    left: 0;
    font-weight: 800;
    color: var(--sub-title-color);
}

.sisi-kiri span {
    position: relative;
    right: 0;
    padding-bottom: 20px;
    font-weight: 400;
}

/* bagian kanan */

.kotak-content {
    border-radius: 3px;
    padding: 45px 30px;
    background-color: #F9F9F9;
    color: var(--hitam);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.kotak-content span {
    font-weight: 600;
}

.kotak-content p.title-kotak {
    font-family: 'Lustria', serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.kotak-content .bx {
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    background-color: var(--abu2);
    margin-right: 10px;
    float: left;
}

.sisi-kanan {
    padding-top: 20px;
    border-bottom: 1px solid var(--abu2);
}

.sisi-kanan p {
    font-size: 14px;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 576px) {
    .content .isi .sisi-kiri {
        padding: 0px 40px !important;
    }
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 350px) {}